
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat+Alternates:wght@300&family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@300&family=Montserrat+Alternates:wght@300&family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@300&family=Montserrat+Alternates:wght@300&family=Pinyon+Script&family=Trirong:ital,wght@0,400;1,700&family=Trirong&family=Zilla+Slab:wght@600&display=swap');


html{
	text-decoration: none;
	color: #0f3091;

}

main{
	background-color: #EAF6FF;
}

div, main section{
	background-color: rgb(255, 233, 253);
}


picture img{
	width: 100%; /* or any custom size */
	height: 100%; 
	object-fit: cover;

}

header{
background-color: #15b8dc;
display: grid;
grid-template-rows: repeat(2, auto);
grid-template-columns: repeat(5, auto);
align-items: center;
align-self: stretch;
/* justify-content: space-evenly; */
/* max-width: 100%; */

}

/* .logo{
width: 58px;
/* place-self: center; 
margin: 20px;




/* .headings{
grid-row: 1/5;
} */

.logo{
  width: 58px;
  place-self: center;
	margin: 0;
  margin: 5px; 
  float: left;
  
	margin-right

}

.headings h1{
font-family: 'Montserrat Alternates', sans-serif;
font-size: .9em;
}

.headings h2{
margin-top: -10px;
font-size: .8em;
font-family: 'Pinyon Script', cursive;

}

nav{

text-align: center;
padding: .75rem;
text-decoration: none;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
/* overflow: hidden; */
/* display: flex;
flex-direction: row; */
/* text-decoration: none; */
list-style: none;
/* grid-row: 2/3; */
}

.drop-downlist-items{
grid-row: 2/3;
grid-column: 1/6;
}



.hamburger{
display: block;
grid-column: 5/6;
text-decoration: none;
font-size: 1em;
margin: 0;
}

nav ul li{
	display: none;
/* margin: 12px; */
padding: 10px;

}

nav ul li:hover{
background-color: aliceblue;
border-style: solid;
border-width: 1px;
margin: 11px;
}

i{
font-size: 20px;
align-self: center;
margin: 5px;
}




body {
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* font-size: 2em; */
	
}

.date{
	grid-column: 1/-1;
	text-align: center;
	border:#0f3091 solid;
	padding: 10px;
	margin: 10px;
}

/* aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
	
} */

#banner{
	border: solid;
	width: 100vw;
	text-align: center;
	
}

main{
	display: flex;
	flex-direction: column;
	align-self: stretch;
	text-align: center;
	padding: 15px;
	/* align-items: stretch; */
}



.hero_image{
	position: relative;
	border-style: solid;
	/* height: 200px; */
	vertical-align: middle;
	margin: 10px;
	background-image: url(images/wdd230-org.jpg);
	/* max-height: 500px; */
}

.hero_image button{
	color: white;
	position: absolute;
	bottom: 25px;
	right: 25px;
	padding: 10px 15px;
	border-radius: 12px;
	background-color: rgb(20, 22, 117);
	
}

/* .call_to_act{
	border-style: solid;
	height: 200px;
	margin: 10px;
	/* justify-self: baseline; */

.news{
	border-style: solid;
	/* height: 200px; */
	margin: 10px;
	background-image: url("/chamber/images/peoplerunning.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	color: white;
	padding: 10px;
	text-shadow: 2px 2px #000000ce;
}


.news img{
	width: 100%;
	/* height: 100%; */
	opacity: .6;
	max-width: 500px;
}

.news h3{
	font-size: 1.15em;
}

.events{
	border-style: solid;
	/* height: 200px; */
	margin: 10px;

}

.events img{
	object-fit: cover;
	width:15em;

}

.weather{
	border-style: solid;
	/* height: 200px; */
	margin: 10px;

}

.join{
	border-style: solid;
	/* height: 200px; */
	margin: 10px;

}

.spotlights{
	border-style: solid;
	padding: 10px;
	margin: 10px;

}



.spotlight1{
	border-style: solid;
	/* height: 200px; */
	
}

.spotlight2{
	border-style: solid;
	/* height: 200px; */
	
}

.spotlight3{
	border-style: solid;
	/* height: 200px; */
	
}

footer{
	display: flex;
}

#footerlogo{
	width: 15%;
	height: 15%;
	max-width: 150px;
	max-height: 148.38px;
}

/* footer img{
	float: left;
} */

.responsive li{
	/* grid-column: 1/6;
	grid-row: 2/3; */
	display: block;

}


/* <i class="icon ion-md-menu"></i> */

/* discover page css below */

.discoverMain{
	display: inline;
	max-width: 500px;
  margin: auto;
	border: solid black;
	column-gap: 20px;
}

.discoverImages{
	/* border: solid orangered; */
	display: grid;
	row-gap: 10px;
	align-items:stretch;
	
	/* height:auto;
	overflow:auto; */
}

.discoverImages img{
	border:#0f3091 solid;
	padding: 1em;
	/* float:right;
	height:auto; */
	height: 300px;
	width: 400px;
	min-width: 280px;
	
	object-fit: cover;
	
}

.discoverGraphs{
	/* border: solid rebeccapurple; */
	display:grid;
	row-gap: 10px;
	align-items:stretch;
	
	/* row-gap: 20px; */
}

.discoverGraphs div{
	border:#0f3091 solid;
	padding: 1em;
	max-width: 400px;
}

.discoverGraphs img{
	width: 100%;
}

/* directory page css below */

.mainDirectory{
	display:grid;
	grid-template-rows: 2em 1fr;
	grid-template-columns: 1fr;
	border: solid black;
	grid-gap: 15px;
}

.directoryButtons{
	/* display: grid; */
	border: solid blue;
	grid-row: 1/2;
	/* grid-column: 1/2; */
}

.directoryGrid{
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-gap: 20px;
	
	/* white-space: normal; */
	
}

.directoryGrid div{
	border: solid gold;
	padding: 10px;
	word-wrap: break-word;
	
	
} 

.directoryGrid img{
	border: solid pink;
	width: 8em;
} 


.list div {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	border: solid rgb(20, 22, 117);
	justify-content: space-evenly;
	
}
.list div img{
	display: none;
}

.list a{
	text-decoration: none;
}
/* join us page css */

.joinMain{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.joinMain h2{
	grid-column: 1/-1;
	border: purple solid;
}

.joinMain div{
	border:#0f3091 solid;
}

/* contact us page css */

.contactMain{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contactMain h2{
	grid-column: 1/-1;
	border: purple solid;
}

.contactMain div{
	border:#0f3091 solid;
}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}